.navigation-explore {
  display: flex;
  flex-direction: column;
}

.navigation-explore.is-active {
  height: inherit;
}

.navigation-explore .context {
  flex-shrink: 0;
  color: #0d2c40;
  background-color: #e0dfdf;
  box-shadow: 0 -1px 0 #e1e1e1;
  padding: 0 0.25rem 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  line-height: 1;
  font-size: 0.8125rem;
  height: var(--drawer-height);
}

@media screen and (min-width: 1024px) {
  .navigation-explore .context {
    font-size: 0.75rem;
  }
}

.navigation-explore.is-active .context {
  box-shadow: 0 1px 0 #e1e1e1;
}

.navigation-explore .context .version {
  background-image: url(../img/chevron.svg);
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: auto 0.75em;
  padding: 0 1.5rem 0 0;
}

.navigation-explore .components {
  flex-grow: 1;
  box-shadow: inset 0 1px 5px #e1e1e1;
  background-color: #e0dfdf;
  padding: 0.5rem;
  margin: 0;
  overflow-y: auto;
  max-height: 100%;
  display: block;
}

.navigation-explore:not(.is-active) .components {
  display: none;
}

.navigation-explore .component {
  display: block;
}

.navigation-explore .component + .component {
  margin-top: 0.5rem;
}

.navigation-explore .component .title {
  font-weight: 500;
  color: #0d2c40;
}

.navigation-explore .versions {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0.5rem;
}

.navigation-explore .component .version {
  display: block;
  font-size: 0.9375em;
}

.navigation-explore .component .version a {
  border: 1px solid #686565;
  border-radius: 0.25em;
  color: #fff;
  background-color: #686565;
  white-space: nowrap;
  padding: 0.05em 0.25em 0;
}

.navigation-explore .component .is-current a {
  border-color: #009c51;
  background-color: #009c51;
  font-weight: 500;
}

/*
.navigation-explore .component .is-latest a::after {
  content: " (latest)";
}
*/
.navigation-explore .component .version + .version {
  padding-left: 0.375em;
}
